/* TeamCard.css */

.team-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 80px;
    overflow: hidden;
  }
  
  .team-card img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%; /* Postavlja sliku u obliku kruga */
  }
  
  .team-card h2 {
    font-size: 1rem;
    margin: 0;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .team-card p {
    font-size: 0.8rem;
    margin-right: 10px;
  }
  
  .team-card a {
    display: block;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-top: 5px;
  }
  